.learn-more-container {
    max-width: 2000px;
    margin: auto;
    padding: 90px;
    background: #fff8dc;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.learn-more-container:hover {
    transform: scale(1.02);
}

.learn-more-container h1 {
    font-size: 2.5rem;
    color: #222;
    margin-bottom: 20px;
    font-weight: bold;
}

.learn-more-container h1 span {
    color: rgb(215, 152, 34);
    font-weight: bold;
}

.learn-more-container p {
    font-size: 1.2rem;
    color: #444;
    line-height: 1.8;
    margin-bottom: 25px;
}

.learn-more-container h2 {
    font-size: 2rem;
    color: rgb(215, 152, 34);
    margin-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.learn-more-container ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.learn-more-container ul li {
    font-size: 1.2rem;
    color: #333;
    padding: 12px;
    background: rgba(255, 255, 255, 0.9);
    margin: 10px auto;
    width: 80%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.learn-more-container ul li:hover {
    background: blanchedalmond;
    color: goldenrod;
    transform: translateY(-3px);
}


.learn-more-container ul li:hover::before {
    color: white;
}

.learn-more-container p:last-child {
    font-size: 1.3rem;
    color: #222;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .learn-more-container {
        padding: 20px;
    }

    .learn-more-container h1 {
        font-size: 2rem;
    }

    .learn-more-container h2 {
        font-size: 1.5rem;
    }

    .learn-more-container p,
    .learn-more-container ul li {
        font-size: 1.1rem;
    }

    .learn-more-container ul li {
        width: 90%;
    }
}
