.calculator-container-profile {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow: 1; /* Allow this to take up available space */
    overflow: hidden; /* Prevent content from overflowing */
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Search Input */
.input-data {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffa500; /* Orange border */
    border-radius: 5px;
    background-color: white;
    color: #333;
    font-size: 16px;
    outline: none;
}

.input-data::placeholder {
    color: #ffa500; /* Orange color for placeholder text */
}

.input-data:focus {
    border-color: #ff7f00; /* Darker orange when focused */
    box-shadow: 0 0 5px rgba(255, 127, 0, 0.5);
}

/* Dropdown List */
.dropdown-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #ff7f00; /* Hover effect with orange */
    color: white;
}

/* Selected Food Info */
.food-selection-profile {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-selection-profile h3 {
    color: #333;
}

.food-selection-profile p {
    color: #555;
    margin-bottom: 10px;
}

.food-selection-profile input[type="number"] {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.food-selection-profile button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff7f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.food-selection-profile button:hover {
    background-color: #ff5400; /* Darker orange on hover */
}

/* List of Added Foods */
.added-foods {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.added-foods h3{
    color: #333;
    margin-bottom: 15px;
}

.added-food-item p {
    margin-bottom: 10px;
    color: #555;
}

.added-foods h3{
    font-size: 18px;
}

.added-foods h3 {
    font-weight: bold;
    color: #333;
}

/* General Styles */
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

/* Error message styles */
.error-message {
    color: red;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
