.home-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px; /* Adds space below the home intro section */
    padding-top: 10px;
}

.home-intro-img {
    flex: 1;
    padding-right: 20px;
}

.home-intro-img img {
    width: 100%;
    height: auto;
}

.home-intro-text {
    flex: 2;
    max-width: 600px;
    font-size: 1rem;
    line-height: 1.6;
}