

.container {
  margin-top: 100px;
  
}

.card {
  background-color: #1e1e1e;
  padding: 30px;
  
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.heading {
  color: #f0a500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

input::placeholder, 
textarea::placeholder {
  font-size: 1.2em;  /* Increase placeholder text size */
  color: #aaa; /* Optional: light gray color for placeholders */
}

input[type="submit"] {
  background-color: #f0a500;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #e68900;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 1.1em;
  color: #fff;
}

.custom-control-label {
  color: #fff;
}

#loading {
  margin-top: 20px;
}

.alert-danger {
  color: #ff6b6b;
}

#results {
  margin-top: 20px;
}

input:disabled {
  background-color: #444;
}

input[type="number"]:disabled {
  cursor: not-allowed;
}
