.calculator-container {
  max-width: 1000px;
  margin: 50px auto 20px;
  text-align: center;
  padding: 20px;
  border: 1px solid #f8a700; 
  border-radius: 10px;
  background-color: #fff7e6; 
  box-shadow: 2px 2px 12px rgba(255, 165, 0, 0.1);
}

.bmi{
  color: #ff8c00; 
}

.bmiLabel {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin: 10px 0 5px;
  color: #333; 
}

input,
select {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ff8c00;
  border-radius: 5px;
  background-color: white; 
}

input:focus,
select:focus {
  outline: none;
  border-color: #ff6a00; 
  box-shadow: 0 0 8px rgba(255, 106, 0, 0.4);
}

.calculate-btn {
  padding: 10px 20px;
  background: #ffa500; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.calculate-btn:hover {
  background: #ff8c00; 
  transform: scale(1.05);
}

h3 {
  color: #ff8c00; 
  margin-top: 15px;
}

@media (max-width: 600px) {
  .calculator-container {
    padding: 15px;
  }

  .calculate-btn {
    width: 100%;
    margin-top: 10px;
  }
}
