.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%; 
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.form-containerr {
    padding: 30px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%; 
    max-width: 700px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-containerr h2 {
    margin-bottom: 10px;
    color: black; 
}

.form-group {
    margin-bottom: 15px;
}

label {
    color: black; 
    display: block;
    margin-bottom: 5px; 
}

input, select {
    width: 100%; 
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black; 
}

.termss {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnn {
    width: 100%; 
    background-color: #e1602c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btnn:hover {
    background-color: #f93737;
}

.forgot-password {
    margin-top: 10px;
    text-align: center;
    color: black;
}

.image-containerr {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 57px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-containerr img {
    width: 100%;
    max-width: 100%;
    height: 650px;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .containerr {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .form-containerr {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .form-containerr {
        padding: 20px;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .containerr {
        padding: 10px;
    }
    
    .form-containerr {
        padding: 15px;
    }
    
    .btnn {
        padding: 8px;
    }
}
